@import 'variables';

.card-course-item{
  margin-top:16px;
  text-align:center;
  height:350px;
}
.appear-img{
  width:100%;
}
.appear-img img{
  width:100%;
}
.main-appear{
  width:100%;
}
.home{
  margin-bottom:50px;
}