.card-course-item {
  margin-top: 16px;
  text-align: center;
  height: 350px;
}

.appear-img {
  width: 100%;
}

.appear-img img {
  width: 100%;
}

.main-appear {
  width: 100%;
}

.home {
  margin-bottom: 50px;
}

table.dataTable thead .sorting:after,
table.dataTable thead .sorting:before,
table.dataTable thead .sorting_asc:after,
table.dataTable thead .sorting_asc:before,
table.dataTable thead .sorting_asc_disabled:after,
table.dataTable thead .sorting_asc_disabled:before,
table.dataTable thead .sorting_desc:after,
table.dataTable thead .sorting_desc:before,
table.dataTable thead .sorting_desc_disabled:after,
table.dataTable thead .sorting_desc_disabled:before {
  bottom: 0.5em;
}
