<div class="mt-4">
    <div class="col-md-12">
        <div class="col-md-8 main-appear">
           <div class="col-md-5 float-left appear-img">
               <img src="uploads/{{course.image}}" alt="">
           </div>
           <div class="col-md-3 float-right">
               <h2>Name:{{course.name}}</h2>
               <h2>Description:{{course.description}}</h2>
           </div>
           <div class="clearfix"></div>
           <a class="btn btn-primary" href="#" role="button">Book Now</a>
        </div>
    </div>
</div>