<div class="mt-4">
    <form method="post" action="">
    <div class="form-group">
        <label for="search-input">Search Keywords</label>
        <input type="text" class="form-control" name="search" placeholder="Enter your keywords..." >
        <small id="emailHelp" class="form-text text-muted">you will find something with your keywords here</small>
    </div>
        <div class="form-group">
          <label for="">Gender</label>
          <select class="form-control" name="gender">
              <option value="">----Choose gender----</option>
            <option value="1">Male</option>
            <option value="2">Female</option>
            <option value="3">Another</option>
          </select>
        </div>
    <button type="submit" class="btn btn-primary">Search</button>
    </form>
</div>
